# Server Port and Environment.
PORT=5000
NODE_ENV=development

# Database Configuration.
DATABASE_URL="postgresql://postgres:password@localhost:5432/db_name?schema=public"

# Token Secret.
JWT_SECRET="jwt secret_key"
JWT_EXPIRES_IN="7d"

# Desktop application secret.
DESKTOP_APP_SECRET="desktop_app_secret_key"
INTERNAL_API_HASH="secure_internal_api_hash"

